<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>Botones Agregar</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-primary btn-block" id="abrirModal" data-bs-toggle="modal" data-bs-target="#agregarCliente">
                            <i class="fas fa-plus"></i> [[#{persona-crear}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
